/* CSS declarations go here */

body {
	position: relative;
}

#outer-container {
	padding-top: 20px;
}

.navbar, .well {
	opacity: 0.75;
}

.navbar-header {
	width: 100%;
}

/* login */

#loginButtons {
	float: right;
}

#loginButton,
#logoutButton,
#registerButton {
	cursor: pointer;
}

#loginWindow {
	position: relative;
	width: 50%;
	margin: auto;
}

/* player */

#player {

}

/* user-list */
#user-list {
	width: 30%;
	float: right;
}

/* SEEN.JS */
#noisywavebg {
	position: absolute;
	z-index: -1;
}

canvas {
	display: block;
}
