<head>
  <title>Radio-Augury</title>
</head>

<body>
  {{> navbar }}
  {{> player }}
</body>

<template name="navbar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <img class="navbar-brand pull-left" src="/logo.png" style="max-width: 100px;"/>
        <a class="navbar-brand" rel="home" href="#" title="Radio-Augury">Radio-Augury</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
</template>

<template name="player">
  <div class="well">
    <div id="player">
      <audio id="audio" src="{{currentSrc}}" hidden autoplay></audio>
      <p id="current">Currently playing: {{currentSrcName}}</p>
      <div id="controls">
        <!-- <button id="pause">Pause</button>
        <button id="play">Play</button>
        <button id="loadnext">Load next</button> -->
        <input id="volume" type="range" style="max-width: 25%"/>
      </div>
    </div>
  </div>
</template>