<head>
  <title>Dropbox-Radio</title>
</head>

<body>
  {{> loginWindow }}
  {{> noisywavebg }}
  <div class="container" id="outer-container">
    {{> navbar }}
    {{> player }}
    {{> userlist }}
  </div>
</body>

<template name="navbar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <img class="navbar-brand pull-left" src="/poweredbydropbox.png" style="max-width: 100px;"/>
      <a class="navbar-brand" rel="home" href="#" title="Dropbox-Radio">Dropbox-Radio</a>
      {{> loginButtons }}
    </div>
  </nav>
</template>

<template name="player">
  <div id="player" class="well">
    <audio id="audio" src="{{currentSrc}}" hidden autoplay></audio>
    <p id="current">Currently playing: {{currentSrcName}}</p>
    <div id="controls">
      <input id="volume" type="range" style="max-width: 25%"/>
    </div>
  </div>
</template>

<template name="userlist">
  <div id="user-list" class="well">
    <h4>Users</h4>
    {{#each users}}
      {{> user }}
    {{/each}}
  </div>
</template>

<template name="user">
  <div class="user">
    <span class="user-username">{{username}}</span>
    <span class="user-online">{{#if online}}&#9658;{{else}}&#9632;{{/if}}</span>
    {{#if online}}<span class="user-current">{{listeningTo}}</span>{{/if}}
  </div>
</template>

<template name="noisywavebg">
  <div id="noisywavebg">
    <canvas id="seen-canvas"></canvas>
  </div>
</template>
