/* CSS declarations go here */

body {
	position: relative;
}

#outer-container {
	padding-top: 20px;
}

.navbar, .well {
	opacity: 0.75;
}

.navbar-header {
	width: 100%;
}

/* login */

#loginButtons {
	float: right;
}

#loginButton,
#logoutButton,
#registerButton {
	cursor: pointer;
}

/* login-window */

#loginWindow {
	padding: 15px;
	max-width: 480px;
	margin: auto;

	border: 1px solid gray;
	border-radius: 10px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

/* player */

#player {

}

/* user-list */
#user-list {
	width: 30%;
	float: right;
}

/* SEEN.JS */
#noisywavebg {
	position: absolute;
	z-index: -1;
}

canvas {
	display: block;
}
