/* CSS declarations go here */

body {
	position: relative;
}

#outer-container {
	padding-top: 20px;
}

.navbar, .well {
	opacity: 0.75;
	transition: opacity 0.5s ease;
}

.navbar:hover, .well:hover {
	opacity: 0.85;
	transition: opacity 0.5s ease;
}

.navbar-header {
	width: 100%;
}

/* login */

#loginButtons {
	float: right;
}

a {
	cursor: pointer;
}

/* login-window */

#loginWindow {
	padding: 15px;
	max-width: 480px;
	margin: auto;
	border-radius: 10px;
	z-index: 1;

	opacity: 0.75;
	transition: opacity 0.5s ease;
}

#loginWindow:hover {
	opacity: 0.85;
	transition: opacity 0.5s ease;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/* player */

#player {

}

/* user-list */
#user-list {
	width: 35%;
	float: right;
}

/* connection-indicator */
#connection-indicator {
	position: fixed;
	bottom: 0px;
	left: 0px;
}

/* effects */
.effect-container {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* colorgrid */

body {
	background-color: rgba(50, 50, 50, 1);
}

.effect-container {
	margin-left: 3px;
	opacity: 0.8;
}

.box {
    margin: 0px;
	padding: 0px;
	float: left;
	transition: background-color 1000ms linear;
	box-shadow: inset 0px 0px 1px 1px rgba(50, 50, 50, 1);
}
