<head>
  <title>radio-meteor</title>
</head>

<body>
  {{> navbar }}
  {{> player}}
  {{> chat }}
  {{> userlist }}
</body>

<template name="navbar">
  <div id="navbar">
    <div id="brand">Augury Radio</div>
    <img id="logo" src="/logo.png">
    <div id="login">Login</div>
  </div>
</template>

<template name="player">
  <div id="player">
    <audio id="audio" src="{{currentSong}}" hidden autoplay></audio>
    <span id="current">Currently playing: {{songName}}</span>
    <div id="controls">
      <button id="pause">Pause</button>
      <button id="play">Play</button>
      <button id="loadnext">Load next</button>
    </div>
  </div>
</template>

<template name="userlist">
  <div id="userlist"></div>
</template>

<template name="chat">
  <div id="chat"></div>
</template>